USE [master]
GO
/****** Object:  Database [PRN3_COVID]    Script Date: 18/09/2025 8:10:51 pm ******/
CREATE DATABASE [PRN3_COVID]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN3_COVID', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.BLUEBERRYSERVER\MSSQL\DATA\PRN3_COVID.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN3_COVID_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.BLUEBERRYSERVER\MSSQL\DATA\PRN3_COVID_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN3_COVID].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN3_COVID]
GO
/****** Object:  Table [dbo].[DailyMetrics]    Script Date: 18/09/2025 8:10:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyMetrics](
	[MetricID] [int] IDENTITY(1,1) NOT NULL,
	[LocationID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Confirmed] [bigint] NULL,
	[Deaths] [bigint] NULL,
	[Recovered] [bigint] NULL,
	[Active]  AS (([Confirmed]-[Deaths])-[Recovered]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MetricID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DailyMetrics_Location_Date] UNIQUE NONCLUSTERED 
(
	[LocationID] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 18/09/2025 8:10:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[Province_State] [nvarchar](255) NULL,
	[Country_Region] [nvarchar](255) NOT NULL,
	[Lat] [float] NULL,
	[Long] [float] NULL,
	[ISO3] [nvarchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Locations_Province_Country] UNIQUE NONCLUSTERED 
(
	[Province_State] ASC,
	[Country_Region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetricsTypes]    Script Date: 18/09/2025 8:10:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetricsTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[MetricName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MetricName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_daily_metrics_date]    Script Date: 18/09/2025 8:10:51 pm ******/
CREATE NONCLUSTERED INDEX [idx_daily_metrics_date] ON [dbo].[DailyMetrics]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_daily_metrics_location_date]    Script Date: 18/09/2025 8:10:51 pm ******/
CREATE NONCLUSTERED INDEX [idx_daily_metrics_location_date] ON [dbo].[DailyMetrics]
(
	[LocationID] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DailyMetrics] ADD  DEFAULT ((0)) FOR [Confirmed]
GO
ALTER TABLE [dbo].[DailyMetrics] ADD  DEFAULT ((0)) FOR [Deaths]
GO
ALTER TABLE [dbo].[DailyMetrics] ADD  DEFAULT ((0)) FOR [Recovered]
GO
ALTER TABLE [dbo].[DailyMetrics]  WITH CHECK ADD FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
USE [master]
GO
